Portfolio Suitability

In [3]:
#Imports

import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
from pathlib import Path
%matplotlib inline

In [ ]:
# Load env

In [ ]:
# Use questions to determine the clients risk tolerance, investment horizen, income v. growth

In [ ]:
# Convert Investor Responses to Risk Scores

risk_score = 0
time_score = 0

investment_percent = investment_amount / annual_income
disposible_income = annual_income - annual_expenses
investment_ratio = disposible_income / annual_investment_amount

if investment_percent < .40:
    risk_score += 100
elif investment_percent > .40 and investment_percent < .80:
    risk_score += 50
else:
    risk_score += 0

if investing_experience < 4:
    risk_score -= 10
elif investing_experience > 4 and investing_experience < 9:
    risk_score += 0
else:
    risk_score += 10

if income_stability:
    risk_score += 0
else:
    risk_score -= 40

if risk_tolerance == "Low":
    risk_score * .9
elif risk_tolerance == "Medium":
    risk_score * .5
elif risk_tolerance == "High"
    risk_score * 1
else:
    risk_score * 1.10

if investment_time <= 1:
    time_score += 25
elif investment_time >= 2 and investment_time <= 4:
    time_score += 50
elif investment_time >= 5 and investment_time <= 9:
    time_score += 75
else:
    time_score += 100

In [11]:
# Import stock symbol db
nasdaq = pd.read_csv(
	Path("Resources/nasdaq.csv"),
	index_col = "Symbol",
)

display(nasdaq.head())
display(nasdaq.tail())

,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
Symbol,,,,,,,,,,
A,Agilent Technologies Inc. Common Stock,$141.12,-0.67,-0.473%,4.261835e+10,United States,1999.0,1087377,Capital Goods,Electrical Products
AA,Alcoa Corporation Common Stock,$64.22,1.48,2.359%,1.182289e+10,NaN,2016.0,7159515,Basic Industries,Metal Fabrications
AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.75,-0.01,-0.102%,1.218750e+09,NaN,2021.0,49771,Finance,Business Services
AACG,ATA Creativity Global American Depositary Shares,$1.56,0.02,1.299%,4.894800e+07,China,NaN,61790,Miscellaneous,Service to the Health Industry
AACI,Armada Acquisition Corp. I Common Stock,$9.8229,0.00,0.00%,2.034273e+08,United States,2021.0,6,NaN,NaN

,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
Symbol,,,,,,,,,,
ZWS,Zurn Water Solutions Corporation Common Stock,$30.76,-0.04,-0.13%,3.867149e+09,United States,2012.0,1304547,Public Utilities,Water Supply
ZY,Zymergen Inc. Common Stock,$4.43,0.16,3.747%,4.536355e+08,United States,2021.0,788529,Basic Industries,Industrial Specialties
ZYME,Zymeworks Inc. Common Shares,$7.95,0.46,6.142%,4.578323e+08,Canada,2017.0,1132143,NaN,NaN
ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,$2.67,0.07,2.692%,1.100508e+08,United States,2015.0,273878,Health Care,Biotechnology: Pharmaceutical Preparations
ZYXI,Zynex Inc. Common Stock,$7.52,0.23,3.155%,3.015435e+08,United States,NaN,154611,Health Care,Other Pharmaceuticals

In [12]:
# Clean NASDAQ Data by Removing Columns

nasdaq = nasdaq.drop(['Last Sale', 'Net Change', '% Change', 'IPO Year', 'Country'], axis=1)

nasdaq.head()

,Name,Market Cap,Volume,Sector,Industry
Symbol,,,,,
A,Agilent Technologies Inc. Common Stock,4.261835e+10,1087377,Capital Goods,Electrical Products
AA,Alcoa Corporation Common Stock,1.182289e+10,7159515,Basic Industries,Metal Fabrications
AAC,Ares Acquisition Corporation Class A Ordinary ...,1.218750e+09,49771,Finance,Business Services
AACG,ATA Creativity Global American Depositary Shares,4.894800e+07,61790,Miscellaneous,Service to the Health Industry
AACI,Armada Acquisition Corp. I Common Stock,2.034273e+08,6,NaN,NaN

In [ ]:
# Load stocks based on client suitability

In [ ]:
# Determine info for SPY, DIA, IEF, and client selections

In [ ]:
# Run MC Sim for SPY, DIA, IEF, and client selection

In [ ]:
# Present comparisons in table

In [ ]:
# Present comparisons graphically

In [ ]:
# Provide written report and recommendations